@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700");
.container__header {
  display: flex;
  flex-direction: row;
  justify-content: end;
  background-color: #5C7E96;
  height: 10vh;
}
.container__header .navbar__brand {
  margin: auto 0;
}
.container__header .navbar__brand i {
  font-size: 200%;
  color: #fafafa;
  text-shadow: 2px 2px 4px #383838;
}
@media screen and (max-width: 768px) {
  .container__header #menu__toggle {
    opacity: 0;
  }
  .container__header #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  .container__header #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  .container__header #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  .container__header #menu__toggle:checked ~ .menu__box {
    left: 0;
  }
  .container__header .menu__btn {
    position: fixed;
    display: flex;
    align-items: center;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 5%;
    cursor: pointer;
    z-index: 1;
  }
  .container__header .menu__btn > span,
.container__header .menu__btn > span::before,
.container__header .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #fafafa;
    transition-duration: 0.25s;
  }
  .container__header .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .container__header .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  .container__header .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 250px;
    height: 100vh;
    margin: 0;
    padding-top: 35%;
    list-style: none;
    background-color: rgba(92, 126, 150, 0.4);
    transition-duration: 0.25s;
  }
  .container__header .menu__item {
    display: block;
    padding: 15px 0px;
    color: #fafafa;
    font-family: "Exo", sans-serif;
    font-size: 27px;
    font-weight: 800;
    text-decoration: none;
    transition-duration: 0.25s;
    text-shadow: 2px 2px 4px #383838;
  }
}

@media screen and (min-width: 768px) {
  #menu__toggle {
    display: none;
  }
  .container__header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }
  .container__header .navbar__brand {
    margin-left: 15px;
    transition: all 0.25s ease-in-out;
  }
  .container__header .navbar__brand:hover {
    transform: scale(1.15);
  }
  .container__header ul {
    display: flex;
    flex-direction: row;
    padding-left: 15px;
  }
  .container__header ul li {
    list-style: none;
    margin: 0px 10px;
  }
  .container__header ul li a {
    text-decoration: none;
    font-family: "Exo", sans-serif;
    color: #fafafa;
    font-size: 20px;
    text-shadow: 2px 2px 4px #383838;
    transition: all 0.2s ease-in-out;
  }
  .container__header ul li a:hover {
    text-shadow: none;
  }
}
.footer {
  background-color: #525252;
  color: #fafafa;
  height: 15%;
}
.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 15px;
}
@media screen and (min-width: 768px) {
  .footer__container {
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    height: 20vh;
    gap: 25px;
  }
}
@media screen and (min-width: 768px) {
  .footer__education {
    width: 33%;
  }
}
.footer__education p {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__education p {
    text-align: start;
  }
}
.footer__cv .cv-pdf {
  color: #fafafa;
  text-shadow: 2px 2px 4px #383838;
}
@media screen and (min-width: 1200px) {
  .footer__cv .cv-pdf {
    transition: all 0.25s ease-in-out;
  }
  .footer__cv .cv-pdf:hover {
    color: #5C7E96;
  }
}
.footer__title {
  font-family: "Exo", sans-serif;
  font-size: 20px;
  margin: 10px 0px 0px 0px;
  text-align: center;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .footer__title {
    margin-top: 20px;
    text-align: start;
  }
}
.footer__social-links .footer__social-links-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 0;
  gap: 15px;
}
.footer__social-links .footer__social-links-list li {
  list-style: none;
}
.footer__social-links .footer__social-links-list li i {
  color: #fafafa;
  width: 32px;
  padding: 12px 0;
  border-radius: 50%;
  font-size: 15px;
  line-height: 7px;
  text-align: center;
  background: #8f8f8f;
  text-shadow: 2px 2px 4px #383838;
}
@media screen and (min-width: 1200px) {
  .footer__social-links .footer__social-links-list li i {
    transition: all 0.35s ease-in-out;
  }
  .footer__social-links .footer__social-links-list li i:hover {
    background-color: #5C7E96;
  }
}

body {
  font-family: Roboto, sans-serif;
  background-color: #fafafa;
  color: #555555;
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
