@use "../components/" as c;

// Mobile

.footer {
  background-color: c.$thirdBgColor;
  color: c.$secondaryColor;
  height: 15%;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 15px;

    @include c.tablet {
      flex-direction: row;
      justify-content: space-around;
      align-items: start;
      height: 20vh;
      gap: 25px;
    }
  }

  &__education {
    @include c.tablet {
      width: 33%;
    }
    p {
      text-align: center;

      @include c.tablet {
        text-align: start;
      }
    }
  }

  &__cv {
    .cv-pdf {
      color: c.$secondaryColor;
      text-shadow: 2px 2px 4px c.$primaryTextShadowColor;
      @include c.desktop {
        transition: all 0.25s ease-in-out;
        &:hover {
          color: c.$seconadaryBgColor;
        }
      }
    }
  }

  &__title {
    font-family: c.$titleFont;
    font-size: 20px;
    margin: 10px 0px 0px 0px;
    text-align: center;
    font-weight: 400;

    @include c.tablet {
      margin-top: 20px;
      text-align: start;
    }
  }

  &__social-links {
    .footer__social-links-list {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding-left: 0;
      gap: 15px;

      li {
        list-style: none;

        i {
          color: c.$secondaryColor;
          width: 32px;
          padding: 12px 0;
          border-radius: 50%;
          font-size: 15px;
          line-height: 7px;
          text-align: center;
          background: #8f8f8f;
          text-shadow: 2px 2px 4px c.$primaryTextShadowColor;

          @include c.desktop {
            transition: all 0.35s ease-in-out;
            &:hover {
              background-color: c.$seconadaryBgColor;
            }
          }
        }
      }
    }
  }
}
