// Text colors
$primaryColor: #555555;
$secondaryColor: #fafafa;

// Background colors
$primaryBgColor: #fafafa;
$seconadaryBgColor: #5c7e96;
$thirdBgColor: #525252;

// Color opacity
$seconadaryBgColorOpacity: rgba(92, 126, 150, 0.6);

// Text shadow
$primaryTextShadowColor: #383838;
